* {
  box-sizing: border-box;
}
body{
  background: url(image/bodyImage.png);
  background-repeat: repeat;
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, Arial, sans-serif


}
.top_fixed{
	padding: 0px;
	background-color: #228B22;
	color: #fff;
	height: 48px;
    position: fixed;
    top: 0;
    width: 100%;
}
.top_fixed a{
	color: #fff;
	text-decoration: none;
	font-size: 13px;
}
.top_fixed h4{
	font-size: 13px;
}
.fixed_back{
	left: 0;
	margin-left: 10px;
	position: absolute;
}
.fixed_title{
	font-size: 14px;
	text-align: center;
    display: block;
    width: 100%;
    position: absolute;
}
.clearboth {
    margin-top: 60px;
}
#search{
  margin: 20px 13px 0px 13px;
}
#myInput {
  background-image: url(image/search-icon.png);
  background-position: 10px 7px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  height: 33px;
  border-radius: 5px;
}

.move_to_top{
	position: fixed;
	color: green;
	bottom: 0;
	right: 0; 
	font-size: 40px;
   	width: 60px;
    text-align: center;
    border-radius: 50%;
    padding-bottom: 20px;
    cursor: pointer; display:none;
}